<%= form_with(model: feed, local: true, url:choose_new_or_edit) do |form| %><!-- model: feedとは、new.html.erbにある＜%= render 'form', feed: @feed %＞の記述にあるfeed -->
<!-- form_withはデフォルトで、引数によってどのようなURLで送信するかが決まっています。
引数がレコードに存在しない場合、createアクションへ送信します。
引数がレコードに存在している場合、updateアクションへ送信します
=> url: confirm_blogs_pathのurlオプションを与えることで、blogs#confirmを実行するように変更しています(choose_new_or_editに変更)。-->
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--  -->
    <div class="field">
    <%= form.label :image %>
    <!-- 確認画面から新規作成画面に戻った時に、 -->
    <!-- アップロードした画像を表示させるための記述 -->
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    <!-- form.file_field :image --><!-- フォームがtext_areaだったので、ファイル形式に変更 -->
    <!-- ＜%= form.text_area :image %＞ -->
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
    <!-- %= form.text_area :content % -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
