<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %><!-- 。 image_tag は画像のパスを引数にして画像を表示させるメソッドです。 -->
  <!-- %= @feed.image % -->
</p>

<p>
  <strong>Content:</strong>
  <%= @feed.content %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
<!-- -->
